// Import page-specific CSS files here.
@import "home";

.cocktail {
  border: thin #ababab solid;
  margin: 20px;
  padding: 20px;
  width: 60%;
  background-color: #e6e6e6;
}


.form-decent {
  width: 60%;
  margin: 20px;
  padding: 20px;
}
